body {
  margin: 20px;
  text-align: center;
}
h1 {
  color: green;
}

/* This div design part is
            used as an Image */
.round {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  float: left;
  font-weight: bold;

  /* Change the shape according
                to the image */
  shape-outside: circle();
  background-color: Green;
  color: white;
}

img {
  border-radius: 50%;
  border-style: solid;
  border-color: gray;
  display: inline-block;
}

#image-right {
  float: right;
  margin: 5px 5px 0 20px;
}

#image-left {
  float: left;
  margin: 5px 20px 0 5px;
}

article {
  padding-top: 75px;
  display: inline-block;
}

p {
  text-align: justify;
  font-size: 22px;
}
